@import './modules/avantnav';
@import './modules/navbar';
@import './modules/herosection';
@import './modules/about' ;
@import './modules/whyus' ;
@import './modules/menu.scss' ;
@import './modules/mediatablette.scss' ;
@import './modules/spacials.scss' ;