@import './modules/avantnav';
@import './modules/navbar';
@import './modules/herosection';
@import './modules/about' ;
@import './modules/whyus' ;
@import './modules/menu.scss' ;
@import './modules/mediatablette.scss' ;
@import './modules/spacials.scss' ;
@import './modules/events.scss' ;
@import './modules/book-a-table.scss' ;
@import './modules/galerie.scss' ;
@import './modules/chef.scss' ;
@import './modules/avis.scss'  ;