.about{
    background-color: rgb(246, 233, 218);
    width: 100vw;
    height: 70vh;
    display: flex;
    gap: 30px;
    padding-left:80px ;
    padding-right: 68px;
        padding-top: 60px;
        padding-bottom: 60px;
    .left{
        
       
          img{
            width: 100%;
        height: 70%;
          }
    }
    .right{
      width: 50%;
    height: 100%;
          i{
            color: orange;
          } 
    }
}