* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //    overflow-x: hidden;
}
body{
    background-color: white;
    font-family: "Pacifico", "cursive"
}
body::-webkit-scrollbar {
    display: none;
}
.avantnav{
   
   
    display: flex;
    justify-content: space-around;
    align-items: center;

    .left{
         
    display: flex;
  
    justify-content: center;
    align-items: center;
    gap: 40px;
        .information{
            display: flex;
          align-items: center;
          justify-content: center;
            gap: 5px;
            color: white;
        }
        i{
            color: orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right button{
         background-color: orange;
         border: none;
         border-radius: 20px;
         padding-inline: 40px;
         padding-top: 5px;
         padding-bottom: 5px;
         color: white;

      
    }
    .right button:hover{
        opacity: 0,8;
    }

}