

// .section-div-paragrapgh{
//     position: absolute;
//    flex-direction: column;
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     color: aqua;
//     z-index: 1;
    
// }
// .carousel-inner img{
//     position: relative;
//     z-index: 0;
// }
//

.carousel-item img {
    /* position: relative; */
    width: 100px;
    height: 717px;
    object-fit: cover;
    opacity: 0,9;
}

.section-div-paragrapgh{
    position: absolute;
    inset: 141px 64px 64px 340px;
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
    top:200px;
//     position: fixed;
    
//     opacity: 0;
//     animation: slideDownFade 2s ease-out forwards;
    
//     @keyframes slideDownFade {
//         0% {
//             transform: translate(-50%, -50px);
//             opacity: 0;
//         }
//         100% {
//             transform: translate(-50%, 0);
//             opacity: 1;
//         }
// }
}

.carousel  button{
    /* color: black; */
    color: gray ;
    /* background-color: #3c3c3c; */
}

.section-div-paragrapgh span{
    color: orange;
}

.section-div-paragrapgh h1{
    color: white;
}

.section-div-paragrapgh p{
    color:white;
}

.button button{
    padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border-color: orange;
    color: white;
    background-color:transparent;
}
.button button:hover{
background-color: orange;
}
 
.button{
    display: flex;
}













