.whyus{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
   background-color: white;
   width: 100vw;
   height: 100vh;
    @include mydisplay(flex,column,center,center) ;
     h1 span {
        // color: orange;
        // background-color: wheat;
        // border-radius: 20px;
        // font-size: 20px;
        // padding-left: 10px;
        // padding-right: 10px;
        @include myspan(orange ,wheat,20px,20px,10px,10px) ;
      }
      span{
        color: orange;
      }
    .cards{
        display: flex;
        gap: 50px;
       padding-left:100px ;
       padding-right: 100px;
        margin-top: 40px;
        
            
          .card{
               padding-inline: 20px;
            background-color: rgb(236, 234, 234);

               h1 {
                color: orange;
               }
             }
    }
     
     .card:hover{
      background-color: orange;
      color: white  ;
      
     } 
     
}