
.avis{
    
    .carousel-contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 450px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.carousel-left {
    width: 10%;
}
.carousel-left img{
width: 10%;
height: 10%;
border-radius: 50%;
object-fit: cover;
}
.carousel-right{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#carouselExampleAutoplaying{
  background-image: url("../../../images/testimonials-bg.jpg") ;
  background-size: cover;

}
}