// .carousel-item{
//     display: flex;
//     flex-direction: row;
//     background-color: aqua;
//     h5{
//         color: black;
//     }
// }
.carousel-contenu{
    display: flex;
    height: 450px;
}
.carousel-left ,.carousel-right{
    width: 50%;
}
.carousel-left img{
width: 100%;
height: 100%;
object-fit: cover;
}
.carousel-right{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}