// .carousel-item{
//     display: flex;
//     flex-direction: row;
//     background-color: aqua;
//     h5{
//         color: black;
//     }
// }
.carousel-contenu{
    display: flex;
    // height: 450px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.carousel-left ,.carousel-right{
    width: 50%;
}
.carousel-left img{
width: 100%;
height: 100%;
object-fit: cover;
}
.carousel-right{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#carouselExampleAutoplaying{
  background-image: url("../../../images/testimonials-bg.jpg") ;
  background-size: cover;

}