.footer{
    background-color: black;
    color: white;
   padding: 40px 0 20px ;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
 
  
}
.finalfooter{
    background-color: black;
    color: white;
   padding: 40px 0 20px ;
   display: flex;
   justify-content: center;
}

