.menu{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;}
    @include mydisplay(flex,column,center,center) ;
      margin-top: 100px;
      h1 span{
        @include myspan(orange ,wheat,20px,20px,10px,10px) ;
      }
      span{
        color: orange;
      }
      a{
        text-decoration: none;
        color: grey;
        padding: 20px;
      }
   .choix{
    width: 99vw;
    height: 100vh;
    gap: 30px;
    padding-left:80px ;
    padding-right: 68px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
      .left{
        width: 50%;
        height: 100%;
        // background-color: black;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
              .acote{
                display: flex;
                flex-direction: column;
                
              }
        }
      }
      .right{  
        width: 50%;
        height: 100%;
        background-color: red;
    }

   }
}