.menu{

    @include mydisplay(flex,column,center,center) ;
    
      h1 span{
        @include myspan(orange ,wheat,20px,20px,10px,10px) ;
      }
      span{
        color: orange;
      }
      a{
        text-decoration: none;
        color: grey;
        padding: 20px;
      }
    
}
 



      .leschoix{
  
    display: grid;
    grid-template-columns: 1fr  1fr ;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
   
    gap: 30px ;
   
.menu-style{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.menu-style img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.menu-price{
    display: flex;
  justify-content: space-between;
  gap:50px ;
    
}
.price{
  color: orange;
}





     }

.montexte{
   
    position: relative;
    display: inline-block;
    padding-right: 5px; /* espace pour les pointillés */
}

.montexte::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 300px;                /* longueur des pointillés */
    border-bottom: 2px dotted #333;
    // transform: translateY(-50%);
}


.leschoix .menu-style{
  display: none;
}

#mot1:checked ~ .leschoix .menu-style{
  display: block;
}
#mot2:checked ~ .leschoix .starter{
  display: block;
}
#mot3:checked ~ .leschoix .salade{
  display: block;
}
#mot4:checked ~ .leschoix .specialty{
  display: block;
}


.fff{
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  input{display: none;}
}







 