.menu{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;}
    @include mydisplay(flex,column,center,center) ;
    
      h1 span{
        @include myspan(orange ,wheat,20px,20px,10px,10px) ;
      }
      span{
        color: orange;
      }
      a{
        text-decoration: none;
        color: grey;
        padding: 20px;
      }
      input{
  display: none;
}
 

#mot1:checked ~ .leschoix{
  opacity: 1;
}
#mot2:checked ~  #imane{
  display: grid;
}

      .leschoix{
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr  1fr ;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
   
    gap: 30px ;
    
.menu-style{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.menu-style img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.menu-price{
    display: flex;
  justify-content: space-between;
  gap:50px ;
    
}
.price{
  color: orange;
}




}
    }

.montexte{
   
    position: relative;
    display: inline-block;
    padding-right: 5px; /* espace pour les pointillés */
}

.montexte::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 280px;                /* longueur des pointillés */
    border-bottom: 2px dotted #333;
    // transform: translateY(-50%);
}






 