
.navbar{
    
   display: flex;
    justify-content: space-around;
    align-items: center;
   
   
    a{
        text-decoration: none;
        color: white;
    }
     .right a:hover{
        color:orange
    }
    #drop:hover{
        color:orange
    }
    .right{
        display: flex;
        gap: 20px;
    }
    #drop{
        background-color:transparent;
        color: white;
        border: none;
    }

}
.autop{
     height: 10vh;
    position:fixed;
    top: 0%;
    width: 100%;
    background-color: #3c3c3c;
    opacity: 1;
    z-index: 99;
    
}