.spacials{
    @include mydisplay(flex,column,center,center) ;
    margin-top: 100px;
      h1 span{
         @include myspan(orange ,wheat,20px,20px,10px,10px) ;
      }
      span{
        color: orange;
      }
      
}
.troisdiv{
        display: grid;
    grid-template-columns: 1fr  2fr  1fr;
   gap:60px ;
   margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
     .left{
     display: flex;
     flex-direction: column;
     gap: 10px;
         h4:hover{
          color: orange;
         }
      }
      
    }