.back-to-top{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #e96b56;
    /* text-align: center; */
    opacity: 1;
    z-index: 99;
    bottom: 10px;
    right: 10px;
    border-radius:5px ;
    i{
        color: white;
    }
    .back-to-top a{
    padding-top:10px;
    text-decoration: none;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.back-to-top a i{
    color: white;
}

    
}